*{
    box-sizing: border-box;
}

:root{
    --primary: #555555; /*strong*/
    --secondary: #d9e4dd; /*info background*/
    --third: #cdc9c3; /*sections background*/
    --fourth: #242b31; /*font*/
}

.hidden{
    visibility: hidden;
}

body{
    background-color: var(--secondary);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.wrapper.left{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.title{
    font-weight: lighter;
    font-size: 40px;
    margin: 40px;
}

.piano{
    display: flex;
    position: relative;
     align-self: center;
}

.key{
    position: relative;
    height: calc(var(--width) * 5);
    width: var(--width);
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.white{
    --width: 72px;
    background-color: white;
    border: 1px solid #333;
}

.black{
    --width: 44px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
}

.white.active{
    background-color: #ccc;
    border: 3px solid var(--primary);
}

.black.active{
    background-color: #333;
    border: 3px solid var(--third);
}

.letter{
    position:absolute;                 
    bottom: 0;
    font-size: x-large;
}


/*Btn letters*/
.lettersShowFew{
    background-color: var(--fourth) !important;
}

.lettersShowIndef{
    background-color: var(--primary) !important;
    color: var(--third) !important;
}

.lettersHide{
    background-color: var(--third) !important;
    color: var(--fourth) !important;
}

#btnShowLetters{
    width: 200px;
    height: 50px;
    border: none;
    color: var(--third);
    border-radius: 10px;
    font-size: 0.9em;
    letter-spacing: 1px;
}

#btnShowLetters:hover{
    border: 1px solid white;
    cursor: pointer;
}

#btnShowLetters:focus{
    outline: none;
}

.hint{
    font-size: 1.3rem;
}

.hint:hover{
    font-weight: bold;
    cursor: pointer;
}

/*Octave selector*/
#octaveSelector, #octaveLetterReference{
    height: 200px;
    padding: 15px;
}

#octaveSelector{
    margin-left: 30px;
    border: 1px solid var(--fourth);
    color: var(--fourth);
    border-radius: 10px;
    background-color: var(--third);
}

#octaveSelector span{
    font-size: 55px;
    color: var(--fourth);
}

#octaveSelector span:hover{
    cursor: pointer;
    color: var(--primary);
}

#octaveLetterReference {
    position: relative;
}

#octaveLetterReference .letter{
    display: block;
    position: absolute;
    color: var(--fourth);
}

#octaveLetterReference .letter.up{    
    margin-top: 15px;
    top: 0;
}

#octaveLetterReference .letter.down{
    bottom: 0;
}

#octave{
    text-align: center;
    font-size: 45px;
    margin: 0;
}


/*Media queries*/
@media (max-height: 280px), (max-width: 880px){
    #octaveSelector, #btnShowLetters, #octaveLetterReference, .hint{
        display: none;
    }
}

@media (max-height: 450px) and (max-width: 750px){
    .title{
        display: none;
    }
}

/*max width = 72px * 14 = 1008px*/
@media (max-width: 1300px), (max-height: 500px ){
    .white{
        --width: 50px
    }
    .black{
        --width: 30.5px;
    }
    #btnShowLetters{
        width: 150px;
        height: 40px;
        font-size: 0.8rem;
    }

}

/*max width = 50px * 14 = 700px*/
@media (max-width: 750px){

    .white{
        --width: 35px
    }
    .black{
        --width: 22px;
    }
    .title{
        font-size: xx-large;
    }
}

