*{
    box-sizing: border-box;
}

:root{
    --primary: #465462; /*strong*/
    --secondary: #626a9eab; /*info background*/
    --third: #ffffffb0; /*sections background*/
    --fourth: #242b31; /*font*/
}

.hidden{
    display: none;
}

body{
    background-color: var(--primary);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    display: flex;
}

.key{
    position: relative;
    height: calc(var(--width) * 5);
    width: var(--width);
    display: flex;
    justify-content: center;
}

.white{
    --width: 15vh;
    background-color: white;
    border: 1px solid #333;
}

.black{
    --width: 9vh;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
}

.white.active{
    background-color: #ccc;
    border: 3px solid var(--primary);
}

.black.active{
    background-color: #333;
    border: 3px solid var(--third);
}

.letter{
    position:absolute;                 
    bottom: 0;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#btnShowLetters{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--fourth);
    color: var(--third);
    font-size: medium;
}

#btnShowLetters:hover{
    background-color: var(--secondary);
    cursor: pointer;
}

#btnShowLetters:focus{
    outline: none;
}